.nav-wrapper {
  background: #303b42; }
  .nav-wrapper .nav-item {
    padding: 15px 20px; }
    .nav-wrapper .nav-item.active .nav-link {
      color: #fff;
      border-bottom: 1px solid #0098cb; }
    .nav-wrapper .nav-item .nav-link {
      color: #c5c5c5;
      padding: 10px; }
      .nav-wrapper .nav-item .nav-link:hover {
        color: #fff;
        border-bottom: 1px solid #fff; }
    .nav-wrapper .nav-item.dropdown > .dropdown-toggle:after {
      content: none; }
    .nav-wrapper .nav-item.dropdown.active > .nav-link {
      border-bottom: 1px solid #0098cb; }
    .nav-wrapper .nav-item.dropdown:hover.nav-item {
      background: #fff; }
      .nav-wrapper .nav-item.dropdown:hover.nav-item .nav-link {
        color: #222222; }
    .nav-wrapper .nav-item.dropdown:hover > .dropdown-menu {
      display: block; }
    .nav-wrapper .nav-item.dropdown > .dropdown-menu {
      margin: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      border: none;
      box-shadow: inset 0 8px 4px -7px rgba(255, 255, 255, 0.3), 8px 9px 14px 0px rgba(33, 33, 33, 0.5);
      border-radius: unset; }
      .nav-wrapper .nav-item.dropdown > .dropdown-menu.dropdown-multi {
        min-width: 440px; }
        .nav-wrapper .nav-item.dropdown > .dropdown-menu.dropdown-multi .title {
          padding: .25rem 1.5rem;
          font-weight: 700; }
      .nav-wrapper .nav-item.dropdown > .dropdown-menu .dropdown-item.active {
        border-bottom: 1px solid #0098cb;
        background-color: unset;
        color: inherit; }
