.nav-wrapper {
  background: #303b42;

  .nav-item {
    padding: 15px 20px;

    &.active {
      .nav-link {
        color: #fff;
        border-bottom: 1px solid #0098cb;
      }
    }

    .nav-link {
      color: #c5c5c5;
      padding: 10px;

      &:hover {
        color: #fff;
        border-bottom: 1px solid #fff;
      }

      //&.active {
      //  color: #fff;
      //  border-bottom: 1px solid #0098cb;
      //}
    }

    &.dropdown {
      & > .dropdown-toggle {
        &:after {
          content: none;
        }
      }

      &.active {
        & > .nav-link {
          border-bottom: 1px solid #0098cb;
        }
      }

      &:hover {
        &.nav-item {
          background: #fff;

          .nav-link {
            color: #222222;
          }
        }

        & > .dropdown-menu {
          display: block;
        }
      }

      & > .dropdown-menu {
        margin: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        border: none;
        box-shadow: inset 0 8px 4px -7px rgba(255,255,255,0.3), 8px 9px 14px 0px rgba(33, 33, 33, 0.5);

        //box-shadow: 0px 5px 8px 10px rgba(33,33,33,0.5);

        border-radius: unset;

        &.dropdown-multi {
          min-width: 440px;

          .title {
            padding: .25rem 1.5rem;
            font-weight: 700;
          }
        }

        .dropdown-item {
          &:hover {
          }

          &.active {
            border-bottom: 1px solid #0098cb;
            background-color: unset;
            color: inherit;
          }
        }
      }
    }
  }
}
